@charset "UTF-8";
/* HTML5 ✰ Boilerplate
	* ==|== normalize ==========================================================
	*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222;
}

::-moz-selection {
  background: #ff6512;
  color: #000;
  text-shadow: none;
}

::selection {
  background: #ff6512;
  color: #000;
  text-shadow: none;
}

a {
  color: #111;
  text-decoration: none;
}

a:visited {
  color: #111;
}

a:hover {
  color: #111;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 85%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
  *overflow: visible;
}

table button, table input {
  *overflow: auto;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

body {
  padding-top: 100px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #353536 url("../img/grain.png") repeat 0 0;
}

h1 {
  height: 80px;
  text-indent: -9999px;
  background: url("../img/headline.png") no-repeat 170px 0;
}

h2 {
  float: left;
  margin-top: 8px;
  padding-left: 10px;
  font-size: 18px;
}

h2 .time {
  padding-left: 24px;
  color: #8AAAB2;
  font-size: 32px;
}

h3 {
  margin-top: 14px;
  padding-left: 10px;
}

#container {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

#curve-creator {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  margin: 0 0 24px 10px;
  background: #242425;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.bezier-control {
  position: absolute;
  height: 33px;
  width: 33px;
  background: #4C4C4B;
  border: none;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#bezier-control-1 {
  top: 209px;
  left: 209px;
}

#bezier-control-2 {
  top: 59px;
  left: 60px;
}

.center {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
}

.car {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 45px;
  width: 45px;
  opacity: 1;
  background: #ed5e11;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

.car-linear {
  background: #8aaab2;
}

.right {
  left: 401px!important;
}

.wide {
  width: 441px!important;
}

.light {
  opacity: 0!important;
}

button {
  float: right;
  margin: 24px 0;
  padding: 12px 38px;
  background-color: #ff6512;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #ff6512), color-stop(100%, #ed5e11));
  background: -webkit-linear-gradient(top left, #ff6512, #ed5e11);
  background: -moz-linear-gradient(top left, #ff6512, #ed5e11);
  background: -o-linear-gradient(top left, #ff6512, #ed5e11);
  background: -ms-linear-gradient(top left, #ff6512, #ed5e11);
  background: linear-gradient(top left, #ff6512, #ed5e11);
  border: none;
  border-top: 1px solid #FF8600;
  border-radius: 4px;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
}

button:active {
  margin: 26px 0 22px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f74900), color-stop(100%, #ff6512));
  background: -webkit-linear-gradient(top left, #f74900, #ff6512);
  background: -moz-linear-gradient(top left, #f74900, #ff6512);
  background: -o-linear-gradient(top left, #f74900, #ff6512);
  background: -ms-linear-gradient(top left, #f74900, #ff6512);
  background: linear-gradient(top left, #f74900, #ff6512);
}

#slider {
  float: right;
  width: 350px;
  height: 12px;
  margin: 22px 9px 0 0;
  background-color: #3C494D;
  background-image: none;
  border: none;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
}

#slider .ui-slider-handle {
  top: -0.4em;
  width: 24px;
  height: 24px;
  background-image: none;
  background-color: #8AAAB2;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#animation-tracks {
  position: relative;
}

#animation-type-selector {
  position: absolute;
  top: 0;
  right: 10px;
}

.track {
  position: relative;
  float: right;
  height: 54px;
  width: 450px;
  margin-right: 10px;
  background-color: #4c4c4d;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}

code {
  display: block;
  padding: 10px 8px;
  margin-bottom: 55px;
  color: #8aaab2;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background-color: #4c4c4d;
  border-radius: 6px;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  text-shadow: rgba(0, 0, 0, 0.2) 2px 2px 2px;
}

#settings {
  float: left;
  width: 540px;
  margin-left: 100px;
}

#slider-wrapper {
  height: 55px;
  border-top: 1px solid #282828;
  border-bottom: 1px solid #282828;
}

#track-bezier, #track-linear {
  padding-bottom: 24px;
  border-bottom: 1px solid #282828;
}

#track-bezier-canvas, #track-linear-canvas {
  margin: 6px 0 0 11px;
}

#track-bezier h3 {
  color: #ed5e11;
}

#track-linear h3 {
  color: #8AAAB2;
}

footer {
  clear: both;
  margin: 48px 0;
  text-align: center;
  border-top: 1px solid #444;
}

footer p {
  padding-bottom: 12px;
}

#warning {
  display: none;
  padding: 10px 8px;
  margin: 0 auto;
  width: 720px;
  color: #8AAAB2;
  font-size: 20px;
  text-align: center;
  background-color: #4C4C4D;
  border-radius: 6px;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

.ir br {
  display: none;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

/* ==|== print styles ======================================================= */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}
